{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  
  "env": {
    "development": {
      "compact": false
    }
  },
  "plugins" : [
    "@babel/plugin-proposal-class-properties"
  ]
}